%h1 Listing lifes

= link_to 'New Life', new_admin_life_path

%table.table.center.table-bordered
  %thead
    %tr
      %td id
      %td addDate
      %td title
      %td tags
      %td content
      %td comments
      %td author
      %td
      %td 
  %tbody
  - @lifes.each do |life|
    %tr
      %td= life.id
      %td= life.created_at.to_date unless life.created_at.blank?
      %td= life.title  
      %td= life.tag_list
      %td= raw(life.content)
      %td= link_to life.comments.size, admin_life_comments_path(life)
      %td= life.author
      %td
        -# = link_to t(:comments), admin_life_comments_path(life)
        = link_to 'edit', edit_admin_life_path(life)
        = link_to 'show', admin_life_path(life)
        = link_to 'delete', admin_life_path(life), :method => :delete, :data => { :confirm => 'Are you sure?' }

  = paginate @lifes
