%h1 New Life

= simple_form_for @life, url: admin_lifes_path, method: 'POST' do |f|
  - if @life.errors.any?
    #error_explanation
      %h2= "#{pluralize(@life.errors.count, "error")} prohibited this life from being saved:"
      %ul
        - @life.errors.full_messages.each do |msg|
          %li= msg
  / %div.foo{"data-url": }
  %table
    %span{ class: 'uneditable-input'}
      = current_user.email
    = f.input :title
    = f.input :content, :as => :kindeditor, :input_html => { :items => ['source','formatblock', 'hr', 'link', 'unlink', '|', 'about'] }
    %ul#tag_list
      %li 标签：
    %p
      %input#addTagInput{:name=>"addTag"}
      %input#addTagBtn{:type=>"button",:value=>"add tag"}
    = f.input :tag_list, :as => :hidden
  .actions
    = f.submit 'Save'

= link_to 'Back', admin_lifes_path
