= simple_form_for [:admin, @client] do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |msg|
          %li= msg
  %table
    = f.input :company
    = f.input :name
    = f.input :title
    = f.input :words, as:"text", input_html:{rows:"5",style:"width:500px"}
    = f.input :service, collection: {"3D MODEL & TEXTURES"=>1,"UI DESIGN & 2D PRODUCTION"=>2,"CONCEPT DESIGN & ILLUSTRATION"=>3, "SKIN & ANIMATION"=>4, "SPECIAL EFFECTS"=>5, "CG MOVIE"=>6}
    = f.input :pic, :as => :file, input_html: {id: 'image_file'}
    - if action_name == 'new' 
      %img{id:"preview", src:"#", alt:"your image"}
    - else action_name == 'edit'
      - if !@client.pic.nil?
        %img{id:"preview", :src => "#{@client.pic}?imageView/1/w/50/h/50"}
    %input{id: 'x1', type: 'hidden', size: '4', name:'x1', }
    %input{id: 'y1', type: 'hidden', size: '4', name:'y1'}
    %input{id: 'x2', type: 'hidden', size: '4', name:'x2'}
    %input{id: 'y2', type: 'hidden', size: '4', name:'y2'}
    %input{id: 'width', type: 'hidden', size: '4'}
    %input{id: 'heigth', type: 'hidden', size: '4'}
  .actions
    = f.submit 'Save'
