%h1 Listing admin_clients

= link_to 'New Client', new_admin_client_path

%table.table.center.table-bordered
  %thead
    %tr
      %td id
      %td company
      %td name
      %td title
      %td words
      %td pic
      %td service
      %td 
  %tbody
  - @clients.each do |client|
    %tr
      %td= client.id
      %td= client.company
      %td= client.name
      %td= client.title
      %td= client.words
      %td
        %img{:src => "#{client.pic}?imageView/1/w/50/h/50"}
      %td= client.service
      %td
        = link_to 'Show', admin_client_path(client)
        = link_to 'Edit', edit_admin_client_path(client)
        = link_to 'Destroy', admin_client_path(client), :method => :delete, :data => { :confirm => 'Are you sure?' }

