= simple_form_for [:admin, @slide] do |f|
  - if @slide.errors.any?
    #error_explanation
      %h2= "#{pluralize(@slide.errors.count, "error")} prohibited this slide from being saved:"
      %ul
        - @slide.errors.full_messages.each do |msg|
          %li= msg
  / %div.foo{"data-url": }
  %table
    = f.input :name
    = f.input :pic, :as => :file
    - if action_name == 'new' 
      %img{id:"preview", src:"#", alt:"your image"}
    - else action_name == 'edit'
      - if !@slide.pic.nil?
        %img{id:"preview", :src => "#{@slide.pic}?imageView/1/w/50/h/50"}
  .actions
    = f.submit 'Save'

