%h1#lifeSlogon
  Feel more inspired in their everyday lives. 
  %b
    Join us. 

%section#main
  %section#lifeposts

    - @lifes.each do |life|
      
      %article.post
        .postTitles
          .postData
            = life.created_at.strftime("%^b %d,%Y") unless life.created_at.blank?

          .postInfo
            .postTitle
              %h2
                = link_to life.title, life_path(life)
              %p
                = life.tag_list
            .postCommentNum
              %i
                = life.comments.size
              Comments
            .postShare
              %img{:src => "/assets/projects/tencent.jpg", :alt => ""}/ 
        .postContent
          = raw(life.content)

    
    = paginate @lifes
    %section#paginate 
      %a.newerEntries{:href => "#{}"}
        ← NEWER ENTRIES
      %a.prevEntries{:href => "#{}"} 
        PREVIOUS ENTRIES →

  %aside
    .rightpart
      .rightPartTitle
        CATEGORIES
      %ul
        %li
          %a{:href => "#"}
            EVENT
        %li
          %a{:href => ""} 
            AWARD
        %li
          %a{:href => ""} 
            JOBS
    .rightpart
      .rightPartTitle
        ARCHIVES
      %ul
        %li
          %a{:href => "#{}"} 
            JUNE 2013
        %li 
          %a{:href => "#{}"} 
            MAY 2013
        %li 
          %a{:href => "#{}"} 
            APRIL 2013

    .rightpart
      .rightPartTitle
        TANGDIGITAL NETWORK
      %ul 
        %li 
          %a{:href => "#{}"}
            TANGDIGITAL SHANGHAI 
    .rightpart
      .rightPartTitle
        SEARCH
      %input{:placeholder=>"type and hit enter"}

    .rightpart
      .rightPartTitle
        ABOUT
      %p 
        WE ARE PASSIONATE, PROFESSIONAL, HUMOROUS, BRIGHT, COLLABORATIVE, EARLESS, OPEN-MINDED, CURIOUS, RELIABLE, PERSONABLE, WELROUNDED, and ALENTED.
      
      %p 
        WE ARE TANGDigital.
      %p 
        TANGDigital DESIGN ASSOCIATES was founded in 2005.
      
      %p 
        Presently we are focusing on games outsourcing oriented services. Through 3 years efforts, we have embraced many elites and experts from many famous companies together with us. They could either expertise in game producing fields or have rich management experiences in project execution.

      %p 
        With the development of the company, we have not only enhanced all team stuff’s professional skills and cultures, but also have improved our administrative systems and expanded our business scope, which enable us to develop ourselves from a small workshop to be a company in shape. Even though people advanced, system and our environment changed, yet the unchanged is our passion for the career and our earnest attitude for every client. So, we get increasingly recognized and go stronger and stronger.
      %p 
        For the future, we will still stick to our professional attitudes and provide  high quality services to our clients. It’s our aim to become top one in the industry and make our contribution for China or the whole world game industry.

    .rightpart
      .rightPartTitle
        CONTACT
      %h6 
        ADDRESS
      %p.noMargin
        A101 No.33 Lane 672 Changle Road Shanghai China 200040.

      %h6 
        NEW BUSINESS OPPORTUNITIES
      %p.noMargin
        %a{:href=>"mailto:business@tangdigital.com?cc=tang.liji@tangdigital.com&cc=teng.shi@tangdigital.com"}
          business@tangdigital.com

      %h6 
        JOB OPPORTUNITIES
      %p.noMargin 
        %a{:href=>"mailto:hr@tangdigital.com"}
          SH JOB