%p
  =@life.title
%p
  =@life.author
%p
  =@life.created_at
%p
  =@life.content

- @tags.each do |tag|
  %li
    = tag

%p comments

- @comments.each do |comment|
  %li
    = comment.name
  %li
    = comment.email
  %li
    = comment.website
  %li
    = comment.content

= simple_form_for @comment, url: life_comments_path(@life), method: "POST", html: { name: "comment"}  do |f|
  = f.error_notification
  %table
    = f.input :name, required: false, input_html: { maxlength: 20 }
    = f.input :email,:placeholder => "will not be published"
    = f.input :website
    = captcha_tag :id => "captcha_img" 
    = text_field_tag :captcha
    %span.formerrspan{style: "color: red"}= flash[:alert] unless flash[:alert].nil?
    = f.input :content, as: :text
  .actions
    = f.submit 'submit'

= javascript_include_tag "comments"