= simple_form_for [:admin, @article] do |f|
  = f.error_notification
  %table
    %div#chinese_form{style:"display:block"}
      %div
        %span chinese_title
        .row
          .span5
            = f.input :chinese_title, input_html:{style:"width:100%"}, label: false
          .span4
            .btn-group
              %button.btn.btn-primary.active.chinese_button{type: "button"} CHB
              %button.btn.btn-primary.french_button{type: "button"} FR
      %select.article_category_id{name:"article[category_id]"}
        - current_user.categories.each do |category|
          - if action_name == "edit"
            %option{value:"#{category.id}", :selected => ("true" if @article.category.id == category.id )}
              = category.chinese_name
          - else
            %option{value:"#{category.id}"}
              = category.chinese_name
      = f.input :chinese_content, :as => :kindeditor, :input_html => { :items => [ 'undo', 'redo', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'fontname', 'fontsize', '|', 'forecolor', 'bold','italic', 'underline', '|', 'image', 'media'] }
    %div#french_form{style:"display:none"}
      %div
        %span french_title
        .row
          .span5
            = f.input :french_title, input_html:{style:"width:100%"}, label: false
          .span4
            .btn-group
              %button.btn.btn-primary.chinese_button{type: "button"} CHB
              %button.btn.btn-primary.active.french_button{type: "button"} FR
      %select.article_category_id{name:"article[category_id]"}
        - current_user.categories.each do |category|
          - if action_name == "edit"
            %option{value:"#{category.id}", :selected => ("true" if @article.category.id == category.id )}
              = category.french_name
          - else
            %option{value:"#{category.id}"}
              = category.french_name
      = f.input :french_content, :as => :kindeditor, :input_html => { :items => [ 'undo', 'redo', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'fontname', 'fontsize', '|', 'forecolor', 'bold','italic', 'underline', '|', 'image', 'media'] }
  .form-actions
    = f.button :submit
    = f.button :button, 'Cancel', :type => 'reset', :class => 'btn', :id => "cancle"

= javascript_include_tag "admin/articles"
= stylesheet_link_tag "admin/error"
