= simple_form_for [:admin, @article], html:{name:'article'} do |f|
  = f.error_notification
  %table
    %div
      %div
        %span.chinese_form *中文标题
        %span.french_form{style: "display:none"} * french
        .row
          .span5
            .chinese_form= f.input :chinese_title, input_html:{style:"width:100%"}, label: false
            .french_form{style: "display:none"}= f.input :french_title, input_html:{style:"width:100%"}, label: false
          .span4
            .btn-group
              %button.btn.btn-primary.active.chinese_button{type: "button"} 中文版
              %button.btn.btn-primary.french_button{type: "button"} 法文版

      = f.select :category_id, current_user.categories.map{|c| c.is_topmenu? ? [c.chinese_name + '| ' + c.french_name , c.id] : [ '-' + c.chinese_name + "| " + c.french_name, c.id] }, :include_blank => true, :selected => @article.category_id
      .chinese_form{style:"display:block"}
        = f.input :chinese_content, :as => :kindeditor, :input_html => { :items => [ 'undo', 'redo', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'fontname', 'fontsize', '|', 'forecolor', 'bold','italic', 'underline','flash', '|', 'image','media'] }
      .french_form{style:"display:none"}
        = f.input :french_content, :as => :kindeditor, :input_html => { :items => [ 'undo', 'redo', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'fontname', 'fontsize', '|', 'forecolor', 'bold','italic', 'underline','flash', '|', 'image','media'] }
  .form-actions
    - if action_name == "new" || action_name == "create"
      = f.button :submit, "创建文章"
    - if action_name == "edit" || action_name == "update"
      = f.button :submit, "更新文章"
    = f.button :button, '取消', :type => 'reset', :class => 'btn', :id => "cancle"

= javascript_include_tag "admin/articles"
= stylesheet_link_tag "admin/error"