
.search
  = form_tag search_articles_path, method: :GET do |f|
    = text_field_tag 'search', '', class: "key"
    = submit_tag t('search'), class: "btn"
.module
  .study
    - unless @study_domain.blank?
      %h3
        %sup 学习
        园地
      .study-c
        = raw(@study_domain.french_content)
        - unless @news_category.nil?
          %ul
            - @news_category.articles.limit(6).each do |article|
              %li
                = link_to article.french_title, article_path(article)
            %li
              = link_to t(:read_more), category_path(@news_category)
.module
  .contact
    - unless @contact_us.blank?
      %h3
        %sup 联系
        我们
      .contact-c
        = raw(@contact_us.french_content)

:javascript
  $(document).ready(function(){
    $('.wrapper').css("background-image", "url(/assets/bg4.jpg)");
  });