= provide(:title, "Home")
= render "shared/head"
%article.main
  .mlt
    .mlt_h11
      %img{:src => "/assets/h11.jpg"}/
    .mlt_h12
      %img{:src => "/assets/h12.jpg"}/
    .mlt_h13
      %img{:src => "/assets/h13.jpg"}/
    .mlt_h14
      %img{:src => "/assets/h14.jpg"}/
    .mlt_h15
      %img{:src => "/assets/h15.jpg"}/
    .mlt_h16
      %img{:src => "/assets/h16.jpg"}/
    .mlt_h21
      %img{:src => "/assets/h21.jpg"}/
    .mlt_h22
      %img{:src => "/assets/h22.jpg"}/
    .mlt_h23
      %img{:src => "/assets/h23.jpg"}/
    .mlt_h24
      %img{:src => "/assets/h24.jpg"}/
    .mlt_h25
      %img{:src => "/assets/h25.jpg"}/
    .mlt_h26
      %img{:src => "/assets/h26.jpg"}/
    .mlt_h31
      %img{:src => "/assets/h31.jpg"}/
    .mlt_h32
      %img{:src => "/assets/h32.jpg"}/
    .mlt_h33
      %img{:src => "/assets/h33.jpg"}/
    .mlt_h34
      %img{:src => "/assets/h34.jpg"}/
    .mlt_h35
      %img{:src => "/assets/h35.jpg"}/
    .mlt_h36
      %img{:src => "/assets/h36.jpg"}/
    .mlt_h41
      %img{:src => "/assets/h41.jpg"}/
    .mlt_01
      JANUARY
      %br>/
      SCHOOL
      %br>/
      PAPER ISSUE
    .mlt_h43
      %img{:src => "/assets/h43.jpg"}/
    .mlt_02
      2007
      %br>/
      FIELD TRIP
      %br>/
      REPORT
  .mrt
    %p{style:"color:#333"} 欢迎来到
    %img.logo{src:"/assets/logo.png"}
    .school_name 上海交通大学医学院中法医学部
    %table{style:"margin-top:30px;"}
      %tr
        %td
          %a{href: root_path(locale: "zh-CN")}
            %img.china{src:"/assets/china.jpg"}
        %td
          %a{href: root_path(locale: "fr")}
            %img.french{src:"/assets/french.jpg"}
      %tr
        %td
          %span 中文版
        %td
          %span française
      
  = form_tag search_articles_path, method: :GET do |f|
    .search
      = text_field_tag 'search', '', class:"inp_01"
      = submit_tag 'SEARCH',  class:"searchbtn"

  .searmain
    .search_res
      .question
        %h4 
          %a{:href => "#"} FREQUENTLY ASKED
        %h6 
          %a{:href => "#"} QUESTIONS
        - unless @frequently_asked_questions.nil?
          - @frequently_asked_questions.articles.limit(10).each do |article|
            %p
              = link_to @article.chinese_title.blank? ? @article.french_title : @article.chinese_title, article_path(article)
        
      .university
        %h4 
          %a{:href => "#"} NOTES AND PRESS ON
        %h6 
          %a{:href => "#"} UNIVERSITY
        - unless  @notes_and_press_on_university.nil?
          - @notes_and_press_on_university.articles.limit(10).each do |article|
            %p
              = link_to @article.chinese_title.blank? ? @article.french_title : @article.chinese_title, article_path(article) 

              