= simple_form_for [:admin, @project] do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  %table
    = f.input :name
    = f.input :desc, :as => :kindeditor
    = f.input :tag_list
    = f.input :company
    = f.input :thumb, :as => :file, input_html: {id: 'image_file'}
    - if action_name == 'new' 
      %img{id:"preview", src:"#", alt:"your image"}
      %input{id: 'x1', type: 'hidden', size: '4', name:'x1', }
      %input{id: 'y1', type: 'hidden', size: '4', name:'y1'}
      %input{id: 'x2', type: 'hidden', size: '4', name:'x2'}
      %input{id: 'y2', type: 'hidden', size: '4', name:'y2'}
      = f.input :release_time, :as => :date_picker
    - else action_name == 'edit'
      - if !@project.thumb.nil?
        %img{:src => "#{@project.thumb}?imageView/1/w/50/h/50"}
      %p
        = text_field_tag(:release_time, @project.release_time.to_date, :class => 'datepicker', )
  .actions
    = f.submit 'Save'


        