= simple_form_for [:admin, @project] do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  %table
    = f.input :name
    = f.input :desc
    = f.input :tags
    = f.input :thumb
    = f.input :release_time, :as => :date_picker
    / %div.input-append.date#dp1(data-date-format="yyyy-mm-dd")
    /   = f.s :release_time
    /   %span.add-on
    /     %i.icon-th
  .actions
    = f.submit 'Save'
