%h1 Listing projects

%table
  %tr
    %th
    %th
    %th
   
  = link_to 'New Project', new_admin_project_path

  %table.table.center.table-bordered
    %thead
      %tr
        %td id
        %td name
        %td desc
        %td company
        %td tags
        %td thumb
        %td release_time
        %td
        %td 
    %tbody
    - @projects.each do |project|
      %tr
        %td= project.id
        %td= project.name
        %td= raw(project.desc)
        %td= project.company
        %td= project.tag_list
        %td
          %img{:src => "#{project.thumb}?imageView/1/w/50/h/50"}
        %td= project.release_time.to_date unless project.release_time.nil?
        %td
          - if project.top
            = check_box_tag "top","yes", ""
          - else
            = check_box_tag "top"
        %td
          = link_to t(:works), admin_project_works_path(project)
          = link_to t(:edit, scope: "crud"), edit_admin_project_path(project)
          = link_to t(:destroy, scope: "crud"), admin_project_path(project), :method => :delete, :data => { :confirm => 'Are you sure?' }

= paginate @projects
