%h1 Listing leave_messages

%table.table.center.table-bordered
  %thread
    %tr
      %td id
      %td name
      %td email
      %td website
      %td comment
      %td 
  %tbody
    - @leave_messages.each do |leave_message|
      %tr
        %td= leave_message.id
        %td= leave_message.name
        %td= leave_message.email
        %td= leave_message.website
        %td= leave_message.comment
        %td
          = link_to t(:destroy, scope: "crud"), admin_leave_message_path(leave_message), :method => :delete, :data => { :confirm => 'Are you sure?' }


