#slide.swipe
  .swipe-wrap
    - @slides.each do |slide|
      %div
        %section(data-src-1000px="url('#{slide.pic}')" data-src-640px="url('#{slide.thumb}')" )
          .floater
          .content
            %p
              = slide.name

%section#clientComment
  %h3 “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and budget.”
  %p Art Director at EA China
%aside
  / %section#lastestNews
  /   %article
  /     %figure
  /       %img{alt: "", src: ""}/
  /     %u 05/13
  /     %hr/
  /     %p
  /       “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and ...
  /     %a{href: "#"} more
  %ul#tagList
    %li
      %a.selected{href: "#"}
        %span shuffle
        %b
          = Project.all.size

    - @tags.each do |tag|
      %li
        %a{href: projects_tag_path(tag)}
          %span 
            = tag
          %b
            = Project.tagged_with("#{tag}").size
  #faqlink
    %a{href: "/leave_messages/new"} F.A.Q
.projects  
  %section.projectList{"data-columns" => ""}
    - @projects.each do |project|
      %article
        %figure
          %a{href: "/projects/#{project.id}"}
            %img{alt: "", src: "#{project.thumb}?imageView/1/w/201/h/251"}/
        %h6 
          = project.company
        %p 
          = project.name
  
  .scrollLoading
  = paginate @projects

= javascript_include_tag "jquery.infinitescroll","salvattore","swipe","projects"
