.projects
  %section#clientComment
    %h3 “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and budget.”
    %p Art Director at EA China
  %section.workList{"data-columns" => ""}
    %article
      %figure.projectCover
        %a{href: "#"}
          %img{alt: "", src: "#{@project.thumb}?imageView/2/w/231"}
          #projectInfo
            %p
              = @project.tag_list
            %p
              = @project.release_time.strftime('%Y.%m') unless @project.release_time.nil? 
            %span
              2
      %h6 
        = @project.company
      %p
        = @project.name

    - @works.each do |work|
      %article
        %figure
          %a{href: "/works/#{work.id}"}
            %img{alt: "", src: "#{work.thumb}?imageView/2/w/231"}/
        %h6 
          = work.name
  .scrollLoading
  .navigation
    %a{href: "2.html"} 2