= simple_form_for [:admin, @project, @work] do |f|
  - if @work.errors.any?
    #error_explanation
      %h2= "#{pluralize(@work.errors.count, "error")} prohibited this work from being saved:"
      %ul
        - @work.errors.full_messages.each do |msg|
          %li= msg
  %table
    = f.input :name
    = f.input :desc, :as => :kindeditor,:input_html => { :items => ['source','formatblock', 'hr', 'link', 'unlink', '|', 'about'] }
    = f.input :content, :as => :kindeditor,:input_html => { :items => ['formatblock', 'image', 'multiimage', 'hr', 'link', 'unlink', '|', 'about'] }
    / = f.input :albums, input_html: {multiple: :true, :name => 'albums[]'}, :as => :file
    = f.input :thumb, :as => :file, input_html: {id: 'workimage_file'}
    %img{id:"preview", src:"#", alt:"your image"}
    %input{id: 'x1', type: 'hidden', size: '4', name:'x1'}
    %input{id: 'y1', type: 'hidden', size: '4', name:'y1'}
    %input{id: 'x2', type: 'hidden', size: '4', name:'x2'}
    %input{id: 'y2', type: 'hidden', size: '4', name:'y2'}
    %input{id: 'width', type: 'hidden', size: '4'}
    %input{id: 'heigth', type: 'hidden', size: '4'}
    / = f.input :tag_list
  .actions
    = f.submit 'Save'

