%h1 Listing Works

%table
  %tr
    %th
    %th
    %th
   
  = link_to 'New Work', new_admin_project_work_path(@project)

  %table.table.center.table-bordered
    %thead
      %tr
        %td project_id
        %td name
        
        %td thumb
        %td tag
        %td 
    %tbody
    - @works.each do |work|
      %tr
        %td= work.project_id
        %td= work.name        
        %td
          %img{:src => "#{work.thumb}?imageView/1/w/50/h/50"}
        %td= work.tag_list
        %td
          = link_to t(:edit, scope: "crud"), edit_admin_project_work_path(@project,work)
          = link_to t(:destroy, scope: "crud"), admin_project_work_path(@project,work), :method => :delete, :data => { :confirm => 'Are you sure?' }


