%aside
  %section#lastestNews
    %article
      %figure
        %img{alt: "", src: ""}/
      %u 05/13
      %hr/
      %p
        “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and ...
      %a{href: "#"} more
  %ul#tagList
    %li
      %a{href: "/projects"}
        %span shuffle
        %b
          = Project.all.size

    - @tags.each do |tag|
      %li
      - if tag.id.to_s == params[:id]
        %a.selected{href: projects_tag_path(tag)}
          %span 
            = tag
          %b
            = Project.tagged_with("#{tag}").size
      - else
        %a{href: projects_tag_path(tag)}
          %span 
            = tag
          %b
            = Project.tagged_with("#{tag}").size
  #faqlink
    %a{href: "/leave_messages/new"} F.A.Q
.projects
  %section#clientComment
    %h3 “TANGDigital has proven to be a very reliable and trustworthy outsourcing partner, that delivers on time, quality and budget.”
    %p Art Director at EA China
  %section.projectList{"data-columns" => ""}
    - @projects.each do |project|
      %article
        %figure
          %a{href: "/projects/#{project.id}"}
            %img{alt: "", src: "#{project.thumb}?imageView/1/w/201/h/251"}/
        %h6 
          = project.company
        %p 
          = project.name
  .scrollLoading
  = paginate @projects

= javascript_include_tag "jquery.infinitescroll","salvattore","projects"