%h1 Listing careers

= link_to 'New Career', new_admin_career_path

%table.table.center.table-bordered
  %thead
    %tr
      %td id
      %td title
      %td color
      %td thumb
      
      %td
    %tbody
    - @careers.each do |career|
      %tr
        %td= career.id
        %td= career.title
        %td{style:"background-color: #{career.color}"}
        %td
          %img{:src => "#{career.thumb}?imageView/1/w/50/h/50"}
        
        %td
          = link_to 'Edit', edit_admin_career_path(career)
          = link_to 'Destroy', admin_career_path(career), :method => :delete, :data => { :confirm => 'Are you sure?' }