= simple_form_for @category, url: admin_categories_path, method: 'POST' do |f|
  = f.error_notification
  %table
    = f.input :chinese_name, label: "Category CHN Name"
    = f.input :franch_name, label: "Category FR Name"
  .form-actions
    = f.button :submit
