.row
  .span6
    %h3 类别管理
  .span3
    %h3
      = link_to '添加新类别', new_admin_category_path

%table.table.center.table-bordered
  %thead
    %tr
      %td 类别中文名
      %td 类别法文名
      %td 文章数量
      %td 操作
    %tbody
    - @categories.each do |category|
      %tr
        %td= category.chinese_name
        %td= category.french_name
        %td= category.articles.where("status != 'deleted'").size
        %td
          - if can? :edit, category
            = link_to '编辑', edit_admin_category_path(category)
          - if category.articles.size == 0 and (can? :delete, category)
            = link_to '删除', admin_category_path(category), :method => :delete, :data => { :confirm => '确定?' }