.row
  .span6
    %h3 Category Management
  .span3
    %h3
      = link_to 'New Category', new_admin_category_path

%table.table.center.table-bordered
  %thead
    %tr
      %td Category CHN Name
      %td Category FR name
      %td Number of articles
      %td Operation
    %tbody
    - @categories.each do |category|
      %tr
        %td= category.chinese_name
        %td= category.franch_name
        %td= category.articles.where("status != 'deleted'").size
        %td
          = link_to 'Edit', edit_admin_category_path(category)
          - if category.articles.size == 0
            = link_to 'Delete', admin_category_path(category), :method => :delete, :data => { :confirm => 'Are you sure?' }