= simple_form_for [:admin, @user] do |f|
  = f.error_notification
  %table
    = f.input :username
    = f.input :password
    = f.input :password_confirmation
    = f.input :role
  .actions
    = f.submit 'Save'
