= simple_form_for [:admin, @user], html:{name:"user"}do |f|
  %div.row
    %div.span5
      = f.error_notification
      %table
        = f.input :username
        = f.input :password
        - if action_name == "edit"
          %div{style:"color: #D8AC83"}  leave it blank if you don't want to change it
        = f.input :password_confirmation
        = f.input :role, as: :select, collection:["editor","admin"], include_blank: false
    %div.span3#editor_permission
      %p Editor Permission
      %ul
      - @categories.each do |category|
        %li	        
          = check_box_tag "category_ids[]", category.id, (@user.categories.include?(category) ? true :  false) 
          = category.chinese_name

  .actions
    = f.submit 'Save', :class => 'btn'
    - if action_name == 'new'
      = f.button :button, 'Cancel', :type => 'reset', :class => 'btn', :id => "cancle"
