%article#faqPage
  %h1.pageTitle
    Frequently Asked Questions

%article#questions
  %ul
    %li
      %a{:href=>"#"}
        Where is TANGDigital located?
    %li
      %a{:href=>"#"}
        When was TANGDigital created?
    %li
      %a{:href=>"#"}
        What is the values of TANGDigital?
    %li
      %a{:href=>"#"}
        What is your service model?
    %li
      %a{:href=>"#"}
        In which language do you communicate with clients?
    %li
      %a{:href=>"#"}
        Can you guarantee the software utilized in your studio is legitimate?
    %li
      %a{:href=>"#"}
        Do you have a question for us?

%section#answers
  %h1
    Where is TANGDigital located?
  %p
    TANGDigital main production center is located in Shanghai, China. 
  %h1
    When was TANGDigital created?
  %p
    TANGDigital was founded in 2005
  %h1
    What is the values of TANGDigital?
  %p
    Excellence, Trust and Positivity.
  %p
    Our name, Virtuos, evokes, virtuosity, excellence in art, virtuality, maginary worlds and plurality. To be true to our name and true to ourselves, we stick to 3 core values: Excellence, Trust and Positivity.
  %h1
    What is your service model?
  %p
    There are 2 options:
  %p
    (a) When the project is clearly defined in scope and time, we propose a Project model. Under this model, we work together prior to the project to formulate a detailed project plan based on your needs. We then assemble a team for a limited period of time with a Project Lead responsible for the quality and timing of deliveries.
  %p
    (b) When our client requires an extension of its team with flexibility in the scope of tasks, a retainer model may be more suitable. Under this model, a team will be put together upon your request. Its tasks can be defined and modified on the go, just as you would with an internal team. You will have the guarantee that the resources will be retained for you over the long term.
  %h1
    In which language do you communicate with clients?
  %p
    English, Chinese, Korean and Japanese.
  %h1
    Can you guarantee the software utilized in your studio is legitimate?
  %p
    Yes. All workstations run licensed copies of Windows, Microsoft and any other software required. We have partnered with Jadason since 2005, the exclusive distributor of Maya, Photoshop, Zbrush in China and Hong-Kong, as well as the distributor of Autodesk products.
  %h1
    Do you have a question for us?
  %p
    Don’t hesitate to 
    %a{:href=>"#"}
      contact us today 
    for an answer. 
%section#leaveMsg
  = flash[:alert] unless flash[:alert].nil?
  = simple_form_for @leave_message do |f|
    %table
      = f.input :name
      = f.input :email,:placeholder => "will not be published"
      = f.input :website
      = captcha_tag :id => "captcha_img"
      = text_field_tag :captcha
      = f.input :comment, as: :text
    .actions
      = f.submit 'submit'
      
= javascript_include_tag "faq"
