!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "site", media: "all"
    %title= t(:title)

  %body
    .wrapper_bg
      = render "shared/language"
      .wrapper
        = provide(:title, "Home")
        = render "shared/head"
        .content
          = render "shared/banner"
          = yield
          = render "shared/footer"


