!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "site", media: "all"

    %title
      = yield(:title)
  %body
    #content
      - unless alert.blank?
        .alert.alert-error.fade.in
          %a.close{"data-dismiss" => "alert"} &times;
          = alert
      - unless notice.blank?
        .alert.alert-success.fade.in
          %a.close{"data-dismiss" => "alert"} &times;
          = notice
      = yield
      %footer#foot
        %p
          copyright 2007 by university. all rights reserved. property of use of this web site constitutes your acceptance of  these terms. all
          = succeed "information" do
            %br/
          meant to be sold, traded, or given away, any copying, manipul publishing, or other transfer of these materials except

