!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "site", media: "all"

    %title
      = yield(:title)
  %body
    #content
      - unless alert.blank?
        .alert.alert-error.fade.in
          %a.close{"data-dismiss" => "alert"} &times;
          = alert
      - unless notice.blank?
        .alert.alert-success.fade.in
          %a.close{"data-dismiss" => "alert"} &times;
          = notice
      = yield

