!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = stylesheet_link_tag "site", media: "all"

    %title 上海交通大学医学院中法医学部
  %body
    #content
      = yield
      - if session[:locale] == "zh-CN"
        = render "shared/footer"
      - elsif session[:locale] == "fr"
        = render "shared/french_footer"

