!!! 5
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/
    %title Tang Digital
    = stylesheet_link_tag controller_name+"_"+action_name, :media => "all"
    - if controller_name == "projects"
      = requirejs_include_tag "projects"
    - elsif action_name == "project"
      = requirejs_include_tag "project"
    - else
      = javascript_include_tag "site"
    = csrf_meta_tags

  %body
    
    = render "layouts/ie_check"
    = render "layouts/siteheader"

    = yield

    = render "layouts/footer"